@model Inclusion.Models.Equipamento

<div class="cadastro-ong m-4 d-flex justify-content-center">
  <div class="row col-md-4 col-lg-6 col-xl-7">
    <div class="cadastro-doador-infos">
      <img src="~/assets/INCLUSION.png" alt="Imagem da logo inclusion">
      <h1> Bem-vindo ao Inclusion!</h1>
      <h2> Preencha o formulário abaixo para ajudar quem realmente precisa!</h2>
    </div>
    <div class="col dados-pessoais">
      <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group dados">
          <label asp-for="nomeEquipamento" class="control-label ">Equipamnto</label>
          <input asp-for="nomeEquipamento" class="form-control" />
          <span asp-validation-for="nomeEquipamento" class="text-danger"></span>
        </div>
        <div class="form-group dados">
          <label asp-for="descricao" class="control-label ">Descrição</label>
          <input asp-for="descricao" class="form-control" />
          <span asp-validation-for="descricao" class="text-danger"></span>
        </div>
        <div class="form-group dados">
          <label asp-for="doadorId" class="control-label ">Doador</label>
          <select asp-for="doadorId" class="form-control" asp-items="ViewBag.doadorId"></select>
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
      </form>
    </div>
    <div>
      <a asp-action="Index">voltar</a>
    </div>
  </div>
</div>