@model Inclusion.Models.Equipamento


<div class="ongs-amigas m-4 d-flex flex-column align-items-center justify-content-center">
  <div class="row col-md-4 col-lg-6 col-xl-7">
    <div class="col dados-pessoais">
      <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <div class="form-group">
          <label asp-for="nomeEquipamento" class="control-label"></label>
          <input asp-for="nomeEquipamento" class="form-control" />
          <span asp-validation-for="nomeEquipamento" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="descricao" class="control-label"></label>
          <input asp-for="descricao" class="form-control" />
          <span asp-validation-for="descricao" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="imgUrl" class="control-label"></label>
          <input asp-for="imgUrl" class="form-control" />
          <span asp-validation-for="imgUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="doadorId" class="control-label"></label>
          <select asp-for="doadorId" class="form-control" asp-items="ViewBag.doadorId"></select>
          <span asp-validation-for="doadorId" class="text-danger"></span>
        </div>
        <div class="form-group">
          <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
  <div>
    <a asp-action="Index">voltar</a>
  </div>
</div>
