.cadastro-doador-infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin: 0px auto;
  margin-bottom: 20px;
  padding-top: -60px;
}

.cadastro-ong img,
.cadastro-doador-infos img{
  padding: 20px 0 5px 0;
  width: 300px;
}

.dados-pessoais{
  padding: 30px;
  box-shadow: 0 0 20px rgba(0,0,0, .5);
  margin-bottom: 20px;
  border: 20px;
  border-radius: 20px;
}

.dados{
  width:100%;
}

.control-label{
  margin-top: 10px;
}

button{
  margin-top: 10px;
}

/* Formulário ong */

@media (max-width: 315px) {
  .cadastro-ong img,
  .cadastro-doador-infos img{
    width: 150px;
  }
  .cadastro-doador-infos h1{
    font-size: 2rem;
  }
  .cadastro-doador-infos h2{
    font-size: 1rem;
  }
}

#formContainer{
  position: relative;
  #buttonExcluir{
    position: absolute;
    right: 50px;
    bottom: 50px;

  }
}
