.form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}



button .botao{
margin-bottom:500px;
}


.formulario{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;


}



.cadastro-doador-infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin: auto;

}

.cadastro-ong img,
.cadastro-doador-infos img{
  padding: 80px 0 10px 0;
  width: 300px;
}

.dados-pessoais{
  justify-content: center;
  padding: 5px;
  box-shadow: 0 0 20px rgba(0,0,0, .5);
  width: 50%;


}


.dados{
  width:100%;
}

/* Formulário ong */

@media (max-width: 315px) {
  .cadastro-ong img,
  .cadastro-doador-infos img{
    width: 150px;
  }
  .cadastro-doador-infos h1{
    font-size: 1.5rem;
  }
  .cadastro-doador-infos h2{
    font-size: 1rem;
  }
}
