@{
  ViewData["Title"] = "Home Page";
}

<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
        <h1>Doe Equipamentos e Acessórios para PCDs</h1>
        <h2>Nós somos uma corrente do bem, com o objetivo de promover acessibilidade nos produtos e equipamentos de
          PCDs.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about" class="btn-get-started scrollto links">Vamos lá</a>
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video links"><i
              class="bi bi-play-circle"></i><span>Assistir Vídeo</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="~/assets/h1.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<section id="cliens" class="cliens section-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/clients/client-1.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/clients/client-2.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/clients/client-3.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/clients/client-4.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/clients/client-5.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/clients/client-6.png" class="img-fluid" alt="">
      </div>

    </div>

  </div>
</section><!-- End Cliens Section -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>Sobre nós</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Nós somos uma organização que funciona em parcerias com ONGs para facilitar a doação de equipamentos para
          pessoas portadoras de deficiência.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> A Inclusion trabalha para atender os que necessitam</li>
          <li><i class="ri-check-double-line"></i> Acreditamos na Inclusão através dos meios de Internet</li>
          <li><i class="ri-check-double-line"></i> Unidos somos mais fortes</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Se aventure nesta missão, doe um equipamento que você não utiliza mais para quem realmente precisa.
        </p>
        <a href="#" class="btn-learn-more links">Saiba Mais</a>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->


@* <div id="preloader"></div> *@
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
