#myFooter {
    background-color: #777;
    color: black;
    padding-top: 30px;
    
}

#myFooter .footer-copyright {
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 50px;
}
/*Logo*/
#myFooter .navbar-brand {
    margin-top: 50px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: black;
    background-color: white;
}


#myFooter ul {
    text-align: center;
    list-style-type: none;
    padding-left: 20%;
    line-height: 1.7;
    padding-right: 10%;
    padding-top: 25px;
}


#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: black;
    
}


#myFooter a {
    color: black;
    text-decoration: none;
}
