*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.headerFormulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  margin: 20px auto;
}

.headerFormulario h2{
  width: 80%;
}

.formulario{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 450px;
}

.formulario div.form-group{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.formulario div.form-group{
  margin-right: 10px;
}

.formulario div label{
  font-weight: bold;
}


.formularioConteudo{
  width: auto;
  border: 1px solid transparent;
  padding: 20px 40px;
  box-shadow: 0 0 20px rgba(0,0,0, .4);
}

#senha,
#confirmacaoSenha,
#telefone,
#email,
#nome{
  width: 330px;
}


#dataNascimentoDia{
  width: 80px;
}

#dataNascimentoAno{
  width: 100px;
}

#uf,
#cep,
#numero{
  width: 95px;
}
.login,
.botoes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button,
.botoes input{
  font-weight: bold;
}

.botoes >button,
.botoes input:nth-child(1){
  background: rgba(0,0,200, .8);
  transition: .5s;
}
.botoes >button,
.botoes input:nth-child(1):hover{
  filter: brightness(1.5);
  
}

.inscrever > button,
.botoes input:nth-child(2){
  color: rgba(0,0,200, .8);
  font-weight: bold;
  transition: .5s;
}

.inscrever > button:hover,
.botoes input:nth-child(2):hover{
  background: rgba(0,0,200, .8);
  color: #ffffff;
  
}
.login{
  font-size: 1.125rem;
  margin-top: 10px;
}
.login a{
  color: rgba(0,0,200, .8);
  font-weight: bold;
  transition: text-decoration .5s;
}
.login a:hover{
  text-decoration: underline rgba(0,0,200, 1);
}

/*Formulário de login*/
.senhaEsquecida{
  margin-top: 10px;
  font-size: 0.875rem;
  
}

.senhaEsquecida a{
  text-decoration: underline;
  color: rgba(0,0,200, .8);
  font-weight: bold;
}
.senhaEsquecida a:hover{
  
  text-decoration: none;
}

.inscrever{
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid #cccccc;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inscrever p{
  margin-top: 10px;
  font-weight: bold;
}
