@import '../../Styles/variables.scss';


.form-container{
  margin: auto 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


    width: 400px;
    padding: 10px;
    border-radius: 10px;

    box-shadow: 0 0 20px rgba(0,0,0, .5);

    div{
      width: 100%;
    }

    .button{
      background: $primary-color;
      color: #ffffff;
      font-weight: bold;

      border: none;
      border-radius: 10px;

      width: auto;
      padding: 5px 15px;

      &:hover{
        filter: brightness(1.1);
      }

    }
  }
}
